@import '../../../scss/export';

/* Start: */

.container {
    display: flex;
    flex-direction: column !important;
    p {
        margin-right: $scale-height * 0.3 !important;
    }
    .choosing-show-tasks {
        background-color: $special-color;
        height: $scale-height * 1;
        width: $scale-height * 1;
        margin: $scale-height * 0.1 150px;
        transform: translateY(-100%);
        border-radius: 10px;
    }
    .default {}
}

// Its important because an [ngClass] can only get information from the component scss file (I think)
@media (prefers-color-scheme: light) {
    .default {
        background-color: $secondLight;
    }
}

@media (prefers-color-scheme: dark) {
    .default {
        background-color: $secondDark !important;
    }
}