<div class="wrapper overflow">
    <div class="outer-title">
        <h2>{{titleConfig.titleConfig()}}</h2>
    </div>

    <div *ngIf="item[0] != undefined">
        <div *ngIf="id != ids.specificIDs[1]">
            <div class="outer-p">
                <p>{{_data3.yesterday}}</p>
            </div>
            <div *ngFor="let item of item;">
                <div *ngIf="(item.group == _data2.task && controlToggle[0]) || (item.group == _data2.examen && controlToggle[1]) || (item.group == _data2.schedule && controlToggle[2])">
                    <div *ngIf=" item.__date.getTime() < date">
                        <school-overview-card [choosingDeleteString]="id" [task]="item"></school-overview-card>
                    </div>
                </div>
            </div>

            <div class="outer-p">
                <p>{{_data3.today}}</p>
            </div>
            <div *ngFor="let item of item;">
                <div *ngIf="(item.group == _data2.task && controlToggle[0]) || (item.group == _data2.examen && controlToggle[1]) || (item.group == _data2.schedule && controlToggle[2])">
                    <div *ngIf="item.__date.getTime() > date && item.__date.getTime() < tomorrowDate">
                        <school-overview-card [choosingDeleteString]="id" [task]="item"></school-overview-card>
                    </div>
                </div>
            </div>

            <div class="outer-p">
                <p>{{_data3.tomorrow}}</p>
            </div>
            <div *ngFor="let item of item;">
                <div *ngIf="(item.group == _data2.task && controlToggle[0]) || (item.group == _data2.examen && controlToggle[1]) || (item.group == _data2.schedule && controlToggle[2])">
                    <div *ngIf="item.__date.getTime() > tomorrowDate">
                        <school-overview-card [choosingDeleteString]="id" [task]="item"></school-overview-card>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="id == ids.specificIDs[1]">
            <div *ngFor="let item of item;">
                <school-overview-card [choosingDeleteString]="id" [task]="item"></school-overview-card>
            </div>
        </div>
    </div>

    <school-no-tasks *ngIf="item[0] == undefined"></school-no-tasks>

    <!-- Important hint: There are 3 same coding structures -> it is important to structure the tasks in this three categories + wildcard-->

    <school-detailed-card *ngIf="detailedContent.control"></school-detailed-card>

    <school-add-task [choosingAddString]="id"></school-add-task>

    <school-deleting-return *ngIf="deletingReturn.control" (click)="deletingReturn.control = false;"></school-deleting-return>

    <school-sort-slider *ngIf="id == ids.specificIDs[1]"></school-sort-slider>

    <div *ngIf="id == ids.specificIDs[3]" class="bottom-left container">
        <div class="inner-container">
            <div *ngFor=" let item of _data.allChoosingWhichTask; let i = index" class="content">
                <p>{{item.content}}:</p>
                <div class="choosing-show-tasks" (click)="toggle(item.value)" [ngClass]="{'default': !controlToggle[i]}"></div>
            </div>
        </div>
    </div>
</div>
