@import '../../../scss/export';

/* Start: */

.container {
    position: fixed;
    bottom: $scale-height * 1;
    display: flex;
    label {
        transform: translateY(-25%);
    }
}

//Tablets Computer
@media screen and (min-width: 700px) {
    .container {
        left: $scale-width * 8; // has to be the same + 1 like the sidelist width
    }
}

//Mobile
@media screen and (max-width: 700px) {
    .container {
        left: $scale-width * 1;
    }
}