@import '../../../scss/export';

/* Start: */

.specific-overflow {
    overflow: hidden !important;
    padding: $static-scale * 2.5;
    .container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        .width {
            width: 50%;
            height: min-content;
        }
    }
}
