@import './scss/export';

/* Start */

//General
html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

//Important Classes
.display-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.max-z-index {
    z-index: 9999;
}

.middle-z-index {
    z-index: 500;
}

.min-z-index {
    z-index: 1;
}

//Important Tags
h1 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: $scale-height * 1 !important;
    color: $special-color;
}

h2 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: $scale-height * 0.8 !important;
    color: $special-color;
}

h3 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: $scale-height * 0.8 !important;
}

p {
    margin: 0 !important;
    padding: 0 !important;
    font-size: $scale-height * 0.6 !important;
}

a {
    text-decoration: none !important;
    transition: 0.5s all !important;
    &:hover {
        color: $special-color !important;
        text-decoration: underline !important;
    }
}

input,
select {
    outline: none !important;
    border: none !important;
    width: 50% !important;
    margin: 8px !important;
    border-radius: 10px !important;
    height: $scale-height * 1.2 !important;
    text-align: center !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: $scale-height * 0.6 !important;
}

button {
    outline: none !important;
    border: none !important;
    margin: 8px !important;
    border-radius: 10px !important;
    text-align: center !important;
    font-family: Arial, Helvetica, sans-serif !important;
    width: $scale-width * 2 !important;
    height: $scale-width * 1 !important;
    cursor: pointer;
}

//Main Theme Choosing
@media (prefers-color-scheme: light) {
    .main-theme-color {
        background-color: $primeLight;
    }
    .second-theme-color {
        background-color: $secondLight;
    }
    .second-theme-color-transparency {
        background-color: transparentize($color: $secondLight, $amount: 0.3);
    }
    .theme-font-color {
        color: $fontLight;
    }
    input,
    select {
        color: $fontLight;
        background-color: $primeLight;
        &::placeholder {
            color: $fontLight;
        }
    }
    button {
        color: $fontDark;
        background-color: $primeDark;
    }
    .toggle-fill {
        background: $thirdLight;
        &::after {
            background-color: $fontLight;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .main-theme-color {
        background-color: $primeDark;
    }
    .second-theme-color {
        background-color: $secondDark;
    }
    .second-theme-color-transparency {
        background-color: transparentize($color: $secondLight, $amount: 0.9);
    }
    .theme-font-color {
        color: $fontDark;
    }
    input,
    select {
        color: $fontDark;
        background-color: $primeDark;
        &::placeholder {
            color: $fontDark;
        }
    }
    button {
        color: $fontLight;
        background-color: $primeLight;
    }
    .toggle-fill {
        background: $thirdDark;
        &::after {
            background-color: $fontDark;
        }
    }
}

//Slider
.toggle {
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    width: $scale-height * 2.4;
    margin: 8px;
    .toggle-input {
        display: none;
        &:checked~.toggle-fill {
            background: green;
            &::after {
                transform: translateX($scale-height * 1.2);
            }
        }
    }
    .toggle-fill {
        position: relative;
        width: $scale-height * 2.4;
        height: $scale-height * 1.2;
        border-radius: 10px;
        transition: background 0.2s;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: $scale-height * 1.2;
            width: $scale-height * 1.2;
            border-radius: 10px;
            transition: transform 0.2s;
        }
    }
}