<div class="add-task display-center-row" (click)="showAddCard = true">
    <mat-icon>{{_data.icons.addCardIcon}}</mat-icon>
</div>

<div *ngIf="showAddCard" class="container max-z-index">
    <div class="min-z-index anti-show" (click)="showAddCard = false"></div>
    <div class="max-z-index add-card second-theme-color">
        <form class="display-center-column" #addTask="ngForm" (submit)="submit(addTask.value);">
            <div class="outer-title">
                <h3>{{_data.text.h3}}</h3>
            </div>

            <p *ngIf="choosingAddString == ids.specificIDs[3]">{{_data.text.selectWhichTask}}</p>
            <select *ngIf="choosingAddString == ids.specificIDs[3]" type="text" name="choosingAdd" ngModel>
              <option *ngFor="let item of _data.options" value="{{item.value}}">{{item.name}}</option>
            </select>
            <p class="missing" *ngIf="addTask.value.choosingAdd == '' && choosingAddString == ids.specificIDs[3]">{{_data.text.AllSelectMissing}}</p>

            <p>{{_data.text.selectName}}</p>
            <select *ngIf="choosingAddString != ids.specificIDs[1]" type="text" name="subject" ngModel>
              <option *ngFor="let item of databank.icons" value="{{item}}">{{item}}</option>
            </select>
            <!-- By schedule you can use every Icon you want (BUT everybody can see every schedule…)-->
            <input *ngIf="choosingAddString == ids.specificIDs[1]" type="text" placeholder="{{_data.placeholders.cours}}" name="subject" ngModel>

            <p class="missing" *ngIf="addTask.value.subject == '' && choosingAddString != ids.specificIDs[1]">{{_data.text.selectMissing}}</p>

            <input maxlength="50" type="text" placeholder="{{_data.placeholders.task}}" name="task" ngModel>
            <p class="missing" *ngIf="addTask.value.task == '' ">{{_data.text.taskMissing}}</p>

            <input type="date" name="date" ngModel>
            <p class="missing" *ngIf="addTask.value.date == '' ">{{_data.text.dateMissing}}</p>
            <p class="missing" *ngIf="addTask.value.date <= today && addTask.value.date != ''">{{_data.text.dateWrong}}</p>

            <br>
            <p *ngIf="choosingAddString != ids.specificIDs[2]">{{_data.text.getting}}</p>
            <p *ngIf="choosingAddString == ids.specificIDs[2]">{{_data.text.examenOrTest}}</p>
            <label class="toggle" for="getting">
                <input class="toggle-input" id="getting"  type="checkbox" name="getting" ngModel>
                <div class="toggle-fill"></div>
            </label>

            <button type="submit">
              <mat-icon>{{_data.icons.submit}}</mat-icon>
            </button>

        </form>
    </div>
</div>
