@import '../../../scss/export';

/* Start: */

.add-task {
    position: fixed;
    bottom: $scale-height * 1;
    right: $scale-height * 1;
    background-color: $special-color;
    border-radius: $circle-border;
    height: $scale-height * 3;
    width: $scale-height * 3;
    cursor: pointer;
    mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $scale-height * 2;
    }
}
